# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [5]:
import pandas as pd

In [6]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [59]:
#read to DataFrame
data = json.load((open('data/world_bank_projects.json')))
df = json_normalize(data, 'mjtheme_namecode', ['countryname'])
df.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [60]:
#Find the 10 countries with most projects
top10 = df['countryname'].value_counts().head(10)
top10

Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
Federative Republic of Brazil      41
People's Republic of Bangladesh    41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
Name: countryname, dtype: int64

In [63]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')
top10_codes = df['code'].value_counts().head(10)
top10_codes

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [83]:
#Create a dataframe with the missing names filled in

#Get code - name pairs
code_names = df[df['name'] != ''].groupby(['code','name']).count().reset_index()

#Merge with missing value df to get cleaned df
df_clean = df[['code','countryname']].merge(code_names[['code','name']], on='code', how='left')
df_clean.head(15)

,code,countryname,name
0,8,Federal Democratic Republic of Ethiopia,Human development
1,11,Federal Democratic Republic of Ethiopia,Environment and natural resources management
2,1,Republic of Tunisia,Economic management
3,6,Republic of Tunisia,Social protection and risk management
4,5,Tuvalu,Trade and integration
5,2,Tuvalu,Public sector governance
6,11,Tuvalu,Environment and natural resources management
7,6,Tuvalu,Social protection and risk management
8,7,Republic of Yemen,Social dev/gender/inclusion
9,7,Republic of Yemen,Social dev/gender/inclusion
10,5,Kingdom of Lesotho,Trade and integration
11,4,Kingdom of Lesotho,Financial and private sector development
12,6,Republic of Kenya,Social protection and risk management
13,6,Republic of Kenya,Social protection and risk management
14,2,Republic of India,Public sector governance