## Passing Stats
Aggregate individual passing stats by game from the passing csv into player stats per year for each team. This is designed to be run first before rushing, recieving, or defense notebooks if you are trying to replicate this project.

In [1]:
import requests
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
#Get passing df
passing = pd.read_csv('C:\\Users\\Louie\\Repositories\\Springboard\\Capstone 1 - NFL Matchup Predictions\\Data Wrangling\\Data\\passing.csv')
passing.head()

,year,game_id,team,name,attempts,completions,interceptions,touchdowns,yards
0,2009,2009091000,TEN,K.Collins,35,22,1,1,244
1,2009,2009091000,PIT,B.Roethlisberger,43,33,2,1,363
2,2009,2009091300,ATL,M.Ryan,36,22,0,2,229
3,2009,2009091300,MIA,C.Pennington,29,21,1,1,176
4,2009,2009091300,MIA,P.White,1,0,0,0,0

In [3]:
p_agg = passing.groupby(['year','team'])['attempts','completions','interceptions','touchdowns','yards'].sum()
p_agg.head()

           attempts  completions  interceptions  touchdowns  yards
year team
2009 ARI        595          393             18          28   4205
     ATL        570          332             17          26   3697
     BAL        510          321             13          21   3637
     BUF        441          256             19          17   2789
     CAR        465          264             20          16   3070

In [6]:
#Perform calculations to generate other important statistics
p_agg['completion_perc'] = p_agg['completions'].divide(p_agg['attempts']).round(2)
p_agg['pass_len'] = p_agg.yards.divide(p_agg.completions).round(2)
p_clean = p_agg.reset_index()[['year','team','attempts','completion_perc','pass_len','interceptions','touchdowns']]
p_clean.columns = ['year','team','pass_attempts','completion_perc','pass_len','interceptions_turnover','pass_touchdowns']
p_clean.head()

,year,team,pass_attempts,completion_perc,pass_len,interceptions_turnover,pass_touchdowns
0,2009,ARI,595,0.66,10.70,18,28
1,2009,ATL,570,0.58,11.14,17,26
2,2009,BAL,510,0.63,11.33,13,21
3,2009,BUF,441,0.58,10.89,19,17
4,2009,CAR,465,0.57,11.63,20,16

In [7]:
#Save to csv
p_clean.to_csv('C:\\Users\\Louie\\Repositories\\Springboard\\Capstone 1 - NFL Matchup Predictions\\Data Wrangling\\Data\\players.csv',index=False)